
:root{

    --font-title: 2.2rem;
    --font-subtitle:1.6rem;
    --font-parrafo: 1.4rem;
    --font-color: #464646;
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

html {
    font-size: 62.5%;
    font-family: 'IBM Plex Mono', monospace, sans-serif;
}

/* body {
    background-color: var(--cor-de-fundo) ;
    font-family: 'IBM Plex Mono', monospace, sans-serif;
    line-height: 1;
} */
/* ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
} */


/*Sección Menu*/

.menu{
    border: 1px solid red;
    width: 100%;
    height: 56px;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
}
    .menu .menu__header {
        display: flex;
    }

    .menu__title {
        font-size: var(--font-subtitle);
        font-weight: bold;
        line-height: 1.8rem;
    }

    nav {
        list-style: none;
        margin: 0;
    }

    .menu .menu__list {
        display: none;
        list-style: none;
    }

    .menu__list__item a {
        text-decoration: none;
    }

    .menu__list__contacto a{
        text-decoration: none;
        font-size: var(--font-parrafo);
        line-height: 1.6rem;
        font-weight: 400;
        list-style: none;
    }

    

/*Sección Title*/

section.title{
    width: 100%;
    height: auto;
    border: 1px solid green;
    min-width: 320px;
}

.title__div {
    width: 100%;
    min-width: 320px;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
}

.title__profile {
    width: 10rem;
    height: 10rem;
}

.title__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.title__bio {
    width: auto;
    font-size: var(--font-title);
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--font-color);
}
.title__subsection{
    font-size: var(--font-parrafo);
    line-height: 1.6rem;
    font-weight: 500;
    color: var(--font-color);
}
.title__network{
    display: flex;
    gap: 0.8rem;
    font-size: var(--font-parrafo);
    font-weight: 600;
    line-height: 1.6rem;
}
.title__network a {
    text-decoration: none;
}


/*Sección About*/

section.about{
    border: 1px solid yellow;
    width: 100%;
    height: auto;
    min-width: 320px;
    background-color: #EAF2FD;
    padding: 1.6rem;
    
}
.about .about__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    border: 1px solid green;
}
.about__title {
    font-size: var(--font-title);
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--font-color);
    text-align: center;
}
.about__paragraph {
    line-height: 1.6rem;
    font-size: var(--font-parrafo);
    font-weight: 400;
}


/*Sección Hobbies*/

section.skills{
    border: 1px solid blue;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 1.6rem;
}
.skills__title {
    font-size: var(--font-title);
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
}

.skills__line {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: center;
}
.skills__box {
    border: 1px dashed;
    width: 15.6rem;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills__box .skills__name{
    font-size: var(--font-subtitle);
    line-height: 1.8rem;
    font-weight: 700;
    padding-top: 0.5rem;
    color: var(--font-color);
}



/*Sección Hobbies*/

section.hobbies{
    
}

/* Experiencia Académica*/

section.academic{

}

/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}